{% extends "core/base.html" %}

{% block title %}Galería - FNAF Fan Site{% endblock %}
{% block banner %}Los animatrónicos de Freddy’s{% endblock %}

{% block content %}

<div class="row text-center mb-5">
<h1>Galería de Animatronicos</h1>
</div>
 
  <div class="row text-center">
    
    <h2>fnaf 1</h2>

    <div class="col-md-3">
      <img src="https://thf.bing.com/th/id/OIP.znEmi7fatloPdjw-r2CwagHaGA?w=229&h=185&c=7&r=0&o=7&cb=thfc1&dpr=1.4&pid=1.7&rm=3" 
           alt="Freddy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Freddy Fazbear</b></p>
    </div>
    
    <div class="col-md-3">
      <img src="https://tse4.mm.bing.net/th/id/OIP.Ajoc3DHdlG62U3NzI0ponQHaH2?cb=thfc1&rs=1&pid=ImgDetMain&o=7&rm=3" 
           alt="Bonnie" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Bonnie</b></p>
    </div>
    
    <div class="col-md-3">
      <img src="https://static.wikia.nocookie.net/depressed-kathryn/images/b/b1/Chica.png/revision/latest?cb=20231126010429" 
           alt="Chica" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Chica</b></p>
    </div>
    
    <div class="col-md-3">
      <img src="https://d.wattpad.com/story_parts/949155103/images/163240d7531aed9f435990282051.jpg" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Foxy</b></p>
    </div>

    <div class="col-md-3">
      <img src="https://thf.bing.com/th/id/OIP.DmfxAJ7p0zK1pvpQsPWCsAHaNK?w=118&h=211&c=7&r=0&o=5&cb=thfc1&dpr=1.4&pid=1.7" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Golden Freddy</b></p>
    </div>

    <h2> FNAF 2</h2>

    <div class="col-md-3">
      <img src="https://pm1.narvii.com/7028/d83d8336870d4c51111a4788ce71ffe306b5feecr1-918-1024v2_hq.jpg" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Toy Freddy</b></p>
    </div>

    <div class="col-md-3">
      <img src="https://thf.bing.com/th/id/OIP.Luv_NIppeJUEMfVEjTYEOgHaGO?w=227&h=191&c=7&r=0&o=7&cb=thfc1&dpr=1.4&pid=1.7&rm=3" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Toy Bonnie</b></p>
    </div>

    <div class="col-md-3">
      <img src="https://www.bing.com/th/id/OIP.COVACCg3xINpclDqm-iwGQHaJ3?w=160&h=211&c=8&rs=1&qlt=90&r=0&o=6&cb=thwsc4&dpr=1.4&pid=3.1&rm=2" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Toy Chica</b></p>
    </div>

    <div class="col-md-3">
      <img src="https://orig00.deviantart.net/c1cc/f/2015/025/9/0/withered_mangle_by_fnafdude223-d8fcuu5.jpg"
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Mangle</b></p>
    </div>

    <div class="col-md-3">
      <img src="https://thf.bing.com/th/id/OIP.DmZaxCdJl8nDW14MgxKFRQHaFj?w=279&h=209&c=7&r=0&o=7&cb=thfc1&dpr=1.4&pid=1.7&rm=3" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Ballon Boy</b></p>
    </div>

    <div class="col-md-3">
      <img src="https://tse1.mm.bing.net/th/id/OIP.0w8o5BV5OAQxB-ZUGrJzbAHaEK?cb=thfc1&rs=1&pid=ImgDetMain&o=7&rm=3" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Puppet</b></p>
    </div>

    <div class="col-md-3">
      <img src="https://thf.bing.com/th/id/OIP.L4LoJuzkSS1OEfh5xIR-jAHaGq?w=202&h=182&c=7&r=0&o=7&cb=thfc1&dpr=1.4&pid=1.7&rm=3" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Withered Freddy</b></p>
    </div>

    <div class="col-md-3">
      <img src="https://thf.bing.com/th/id/OIP.FVD7Mw7BHOXf1DLyk3mNbAHaHa?w=186&h=186&c=7&r=0&o=7&cb=thfc1&dpr=1.4&pid=1.7&rm=3" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Withered Bonnie</b></p>
    </div>


    <div class="col-md-3">3
      <img src="https://thf.bing.com/th/id/OIP.ttME7_dxL6PummOT-WJUCQHaKL?w=119&h=180&c=7&r=0&o=7&cb=thfc1&dpr=1.4&pid=1.7&rm=3" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Withered Chica</b></p>
    </div>


    <div class="col-md-3">
      <img src="https://thf.bing.com/th/id/OIP.EVDtKOATI29t1vKIma3jbAHaLm?w=127&h=199&c=7&r=0&o=7&cb=thfc1&dpr=1.4&pid=1.7&rm=3  " 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Withered Foxy</b></p>
    </div>


    <div class="col-md-3">
      <img src="https://thf.bing.com/th/id/OIP.moFmwWne3gRtB65wC90b7AHaFj?w=229&h=180&c=7&r=0&o=7&cb=thfc1&dpr=1.4&pid=1.7&rm=3" 
           alt="Foxy" class="img-fluid rounded" style="width:200px; height:250px; object-fit:cover;">
      <p><b>Golden Freddy</b></p>
    </div>

  </div>
{% endblock %}
