{% extends "core/base.html" %}

{% block title %}Galería - FNAF Fan Site{% endblock %}
{% block banner %}Los animatrónicos de Freddy’s{% endblock %}

{% block content %}
  <h2>Galería de Personajes</h2>
  <div class="row text-center">
    
    <div class="col-md-3">
      <img src="https://preview.redd.it/my-name-is-freddy-fazbear-yo-v0-4resglr0ki5a1.jpg?width=2000&format=pjpg&auto=webp&s=ac37f479301767b00cc8141224a8481fc8643400" 
           alt="Freddy" class="img-fluid rounded">
      <p><b>Freddy Fazbear</b></p>
    </div>
    
    <div class="col-md-3">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/502b19e5-ab15-4b14-817c-29c212286c6e/ddson7c-0a49f809-adfa-4f9d-b462-f88651e8721e.jpg/v1/fill/w_480,h_501,q_75,strp/fnaf_cursed_image__46_by_bonniegamer568_ddson7c-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTAxIiwicGF0aCI6IlwvZlwvNTAyYjE5ZTUtYWIxNS00YjE0LTgxN2MtMjljMjEyMjg2YzZlXC9kZHNvbjdjLTBhNDlmODA5LWFkZmEtNGY5ZC1iNDYyLWY4ODY1MWU4NzIxZS5qcGciLCJ3aWR0aCI6Ijw9NDgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.iLAdujeIifeumCHhldQu33LvTDU6TTCsR1hpQ0fz6Bk" 
           alt="Bonnie" class="img-fluid rounded">
      <p><b>Bonnie</b></p>
    </div>
    
    <div class="col-md-3">
      <img src="https://i.pinimg.com/736x/49/31/85/493185cb1f10b6f5a69cf4963cbd9ae7.jpg" 
           alt="Chica" class="img-fluid rounded">
      <p><b>Chica</b></p>
    </div>
    
    <div class="col-md-3">
      <img src="https://www.meme-arsenal.com/memes/221fb320eaa51f217283b21af0573e63.jpg" 
           alt="Foxy" class="img-fluid rounded">
      <p><b>Foxy</b></p>
    </div>

  </div>
{% endblock %}
