{% extends "core/base.html" %}

{% block title %}Home - FNAF Fan Site{% endblock %}
{% block banner %}Bienvenido a Freddy Fazbear’s Pizza{% endblock %}

{% block content %}
  <h2>¿Qué es FNAF?</h2>
  <p>
    <b>Five Nights at Freddy’s</b> es una saga de videojuegos de terror creada por Scott Cawthon. 
    El jugador asume el papel de un guardia de seguridad nocturno que debe sobrevivir en una pizzería 
    infestada por animatrónicos que cobran vida durante la noche.
  </p>
  <p>
    A lo largo de la saga, el juego combina <b>estrategia, jumpscares y una narrativa misteriosa</b> 
    que ha dado origen a teorías, libros y hasta películas.
  </p>
{% endblock %}