{% extends "core/base.html" %}

{% block title %}Home - FNAF Fan Site{% endblock %}
{% block banner %}Bienvenido a Freddy Fazbear’s Pizza{% endblock %}

{% block content %}
  <h2>¿Qué es FNAF?</h2>
  <p>
    <b>Five Nights at Freddy’s</b> es una saga de videojuegos de terror creada por Scott Cawthon. 
    El jugador asume el papel de un guardia de seguridad nocturno que debe sobrevivir en una pizzería 
    infestada por animatrónicos que cobran vida durante la noche.
  </p>
  <p>
    A lo largo de la saga, el juego combina <b>estrategia, jumpscares y una narrativa misteriosa</b> 
    que ha dado origen a teorías y demas.
  </p>

  <p>
    El éxito de este juego condujo lo que se conoce hoy en día como la franquicia de Five Nights at Freddy's, con varias secuelas, spin-offs, 
    libros, mercancía, una adaptación cinematrográfica producida por Blumhouse Productions y una atracción de terror en desarrollo. Ganó muchos seguidores, principalmente conocidos por generar teorías y rumores de su trama y sus misterios; 
    inspiró varias creaciones hechas por fanáticos, como animaciones, canciones, fanarts y fangames.
  </p>



{% endblock %}